@CHARSET "ISO-8859-1";
body{
	background-color:#c0deed;
}

fieldset{
	background-color: white;
	width: 780px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#main {
	display: inline-block;
	left:550px;
}







