<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>servlet.HelloWorld</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateUser</servlet-name>
		<servlet-class>servlet.user.CreateUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>servlet.user.DeleteUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlet.user.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>servlet.user.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddFriend</servlet-name>
		<servlet-class>servlet.friend.AddFriend</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemoveFriend</servlet-name>
		<servlet-class>servlet.friend.RemoveFriend</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddComment</servlet-name>
		<servlet-class>servlet.message.AddComment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddPrivateComment</servlet-name>
		<servlet-class>servlet.message.AddPrivateComment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddPrivateMessage</servlet-name>
		<servlet-class>servlet.message.AddPrivateMessage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteComment</servlet-name>
		<servlet-class>servlet.message.DeleteComment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/HelloWorld</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateUser</servlet-name>
		<url-pattern>/CreateUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddFriend</servlet-name>
		<url-pattern>/AddFriend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveFriend</servlet-name>
		<url-pattern>/RemoveFriend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddComment</servlet-name>
		<url-pattern>/AddComment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddPrivateMessage</servlet-name>
		<url-pattern>/AddPrivateMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteComment</servlet-name>
		<url-pattern>/DeleteComment</url-pattern>
	</servlet-mapping>
</web-app>